# Python precached files
__pycache__

# Plugin created files
*.cfg
*.res
*_server.ini

# Custom plugin files
addons/source-python/data/plugins/gungame/
!addons/source-python/data/plugins/gungame/credits.ini
addons/source-python/plugins/gungame/plugins/custom/
!addons/source-python/plugins/gungame/plugins/custom/__init__.py
resource/source-python/translations/gungame/commands/custom_plugins/
resource/source-python/translations/gungame/messages/custom_plugins/
resource/source-python/translations/gungame/config/custom_plugins/
resource/source-python/translations/gungame/rules/custom_plugins/
resource/source-python/translations/gungame/settings/custom_plugins/

# Server-specific configuration files
cfg/source-python/gungame/*.ini
cfg/source-python/gungame/gamemodes
cfg/source-python/gungame/sound_packs/
cfg/source-python/gungame/weapon_orders/

# PyCharm files
.idea/

# Mac files
.DS_Store

# Do not ignore any readme files
!readme.md
