# Python precached files
__pycache__

# Plugin created files
*.cfg
*.res
*_server.ini

# Custom plugin files
addons/source-python/data/plugins/gungame/
!addons/source-python/data/plugins/gungame/credits.ini
addons/source-python/plugins/gungame/plugins/custom/
!addons/source-python/plugins/gungame/plugins/custom/__init__.py
resource/source-python/translations/gungame/custom_plugins/
!resource/source-python/translations/gungame/custom_plugins/readme.md
!resource/source-python/translations/gungame/custom_plugins/config/readme.md

# Server-specific configuration files
cfg/source-python/gungame/weapon_orders/
cfg/source-python/gungame/sound_packs/

# PyCharm files
.idea/

# Mac files
.DS_Store

# Do not ignore any readme files
!readme.md
