[MASTER]
# List of files/directories to blacklist (not paths)
ignore=


[MESSAGES CONTROL]
# Definitions of codes disabled
# For a list of error codes, see:
#   http://pylint-messages.wikidot.com/all-codes
disable=
    add 4 spaces,
    attribute-defined-outside-init,
    bad-continuation,
    duplicate-code,
    fixme,
    import-error,
    locally-disabled,
    no-member,
    no-name-in-module,
    protected-access,
    too-few-public-methods,
    too-many-branches,
    too-many-public-methods,


[BASIC]
# List of bad builtin function names
bad-functions=eval,exec,__import__

# Module name regex
module-rgx=[a-z_][a-z0-9_]{2,30}$

# Constant name regex
const-rgx=[a-zA-Z_][a-zA-Z0-9_]{2,30}$

# Class name regex
class-rgx=[A-Z_][a-zA-Z_]+$

# Function name regex
function-rgx=[a-z_][a-z0-9_]{2,30}$

# Method name regex
method-rgx=[a-z_][a-z0-9_]{2,30}$

# Attribute name regex
attr-rgx=[a-z_][a-z0-9_]{2,30}$

# Argument name regex
argument-rgx=[a-z_][a-z0-9_]{2,30}$

# Variable name regex
variable-rgx=[a-z_][a-z0-9_]{2,30}$

# Class attribute name regex
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

# In-line variable name regex
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$

# Variable names that are always ok
good-names=x,y,game_event


[DESIGN]
# The maximum number of arguments allowed
max-args=9

# The maximum number of return statements
max-returns=8


[REPORTS]
# The message output template
msg-template={msg_id}:{line:3d},{column:2d}: {msg} ({symbol})


[SIMILARITIES]
ignore-imports=yes
ignore-comments=yes
ignore-docstrings=yes


[VARIABLES]
dummy-variables-rgx=args|attribute|choice_index|command|game_event|map_name|new_value|old_value|return_value|team_only|value|x
